.greet{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35vh;
    left: 30vw;
    width: 40%;
    height: 30%;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    font-size: 30px;
    color: black;
}

.time{
    margin: 10px;
    padding: 10px 10px;
}

.hello{
    margin: 10px;
    padding: 10px 10px;
}